<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Flow</title>
    <link rel="icon" type="image/svg+xml" href="../public/logo.svg" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700&display=swap');
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../public/styles/home.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
<div class="home">
    <nav>
        <img src="../public/logo.svg" class="logo">
        <ul>
            <li><a href="#func">Funcionalidades</a></li>
            <li><a href="#aplications">Aplicações</a></li>
            <li><a href="#sobre">Sobre nós</a></li>
        </ul>
        <div>
            <a href="/login" class="login-btn">Login</a>
            <a href="/registro" class="cadastro-btn">Cadastro</a>
        </div>
    </nav>
    <div class="content">
        <h1 class="anim">Task Flow</h1>
        <h3 class="anim">Facilita a gestão de projetos e tarefas em equipe.</h3>
        <p class="anim">Simples, flexível e util. <br>Tudo o que você precisa são quadros, listas e cartões para ter uma visão clara de quem está fazendo o quê e o que precisa ser feito.</p>
    </div>

    <h1 class="center-text anim" id="func" >Funcionalidades</h1>
    <div class="funcionalidades">
        <div class="coluna">
            <h2 class="anim">Gerencie tarefas.</h2>
            <h3 class="anim">Datas:</h3>
            <p class="anim">Defina o período de suas tarefas para se organizar da melhor forma possível e nunca perder prazos.</p>
            <h3 class="anim">Anexos:</h3>
            <p class="anim">Anexe seus arquivos importantes em cada tarefa, chega de gastar tempo precioso procurando arquivos dentro do computador.</p>
        </div>
        <div class="coluna">
            <h2 class="anim">Organização.</h2>
            <h3 class="anim">Tarefas:</h3>
            <p class="anim">Organize suas tarefas dentro de categorias que você mesmo pode personalizar para ter noção de todas as suas atividades.</p>
            <h3 class="anim">Checklist:</h3>
            <p class="anim">Adicione itens dentro de suas listas e dê um check quando finalizar cada tarefa.</p>
        </div>
    </div>

    <div class="content">
        <h1 class="anim" id="aplications">Aplicações</h1> <br>
        <h4>Empresas de médio e pequeno porte e aplicação na vida pessoal do usuário.</h4>
        <br>
        <p class="anim">O Task Flow permite que pequenas empresas e usuários com interesse organizem suas tarefas em um ambiente digital, claro e bem estruturado. Com recursos como listas de tarefas, prazos e categorias, o usuário pode visualizar de forma fácil e intuitiva e garantir que se lembre de todas as suas atribuições. <br><br> Com o Task Flow, é possível monitorar o progresso de suas tarefas e projetos. Isso não apenas fornece uma visão clara da realização do processo, como também permite a identificação eficaz e ágil dos pontos principais que precisam de atenção. <br><br> Com essas funcionalidades, o Task Flow tem como principal objetivo auxiliar na organização e produtividade de seus usuários. Com uma visão clara de suas atribuições e responsabilidades, é possível focar no que realmente importa, o resultado final.</p>
    </div>

    <h1 class="center-text anim" id="sobre" >Sobre nós</h1>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="about">
            <p>Bem-vindo ao Task Flow! <br> Somos uma equipe apaixonada pela tecnologia e temos como pricipal objetivo auxiliar a simplificar a gestão de tarefas e melhorar a produtividade. Compreendemos que nos desafios apresentados no dia a dia, manter todas as nossas tarefas devidamente organizadas pode se tornar um grande desafio. Por isso criamos nossa plataforma intuitiva para facilitar esse processo. Embora tenhamos pouca experiência no mercado, trazemos entusiasmo e criatividade para o que fazemos. Estaremos sempre disponíveis a novas ideias e feedbacks de nossos usuários, para tornar o Task Flow cada vez melhor para você. </p>
        </div>
    </div>
</div>

<div class="main">
    <footer>
        <div class="waves">
            <div class="wave" id="wave1"></div>
        </div>
        <div class="zoom">
            <ul class="social_icon">
                <li><a href="#"><ion-icon name="logo-facebook"></ion-icon>
                    </a></li>

                <li><a href="#"><ion-icon name="logo-twitter"></ion-icon>
                    </a></li>

                <li><a href="#"><ion-icon name="logo-linkedin"></ion-icon>
                    </a></li>

                <li><a href="#"><ion-icon name="logo-instagram"></ion-icon>
                    </a></li>
            </ul>
        </div>
        <p>© Task Flow | Todos os direitos reservados.</p>
    </footer>
</div>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>