.ubuntu-light {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
body{
    background: linear-gradient(90deg, rgba(24,99,77,1) 0%, rgba(38,139,78,1) 50%, rgba(41,190,115,1) 100%);
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;

}
form{
    border-radius: 20px;
    margin-top: 50px !important;
    width: 24% !important;
    background-color: white !important;
    padding: 50px;
    display: grid;
}

.btn-primary{
    width: 100%;
    border: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
}

.form-control{
    color: rgba(0,0,0,.87);
    border-bottom-color: rgba(0,0,0,.42);
    box-shadow: none !important;
    border: none;
    border-bottom: 1px solid;
    border-radius: 8px 8px 0 0;
    }
 h4{
    font-size: 2rem !important;
    font-weight: 700;
 }  
 .form-label{
    font-weight: 800 !important;
 }
@media only screen and (max-width: 600px) {
    form {
        width: 100% !important;
    }
  }

#recuperarSenha {
    border: none;
    background-color: inherit;
}

#recuperarSenha[disabled] {
    color: red;
}

.erros {
    margin-top: 10px;
    padding: 10px;
    font-size: 20px;
}

.mensagemErroSenha {
    margin-top: 10px;
    padding: 10px;
    font-size: 20px;
}